<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_store:etc/config.xsd">
    <default>
        <bkademy_webpos>
            <group_general>
                <enable>1</enable>
            </group_general>
        </bkademy_webpos>
    </default>
</config>